p.parrafo{color: rgb(55, 97, 27); background-color: rgb(240, 228, 124);}

body{background-color: rgba(235, 153, 2, 0.658);}
h1.titulo{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: rgba(253, 0, 0, 0.301); text-align: center;}


nav#parrafo{color: rgba(57, 122, 160, 0.705);}